<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id="com.streamplay.app"
        version="1.0.1">

  <name>StreamPlay</name>
  <description>Catálogo de Filmes com Videasy</description>
  <author email="contato@ironcripto.com" href="https://ironcripto.com">StreamPlay Team</author>

  <content src="https://suntzar.xyz" />

  <access origin="*" />

  <allow-navigation href="file:///*" />
  <allow-navigation href="https://suntzar.xyz/*" />
  <allow-navigation href="https://player.videasy.net/*" />

  <icon src="resources/iconTemplate.png" />
  <preference name="SplashScreenDelay" value="2000" />
  <preference name="SplashScreenBackgroundColor" value="#141414" />

  <platform name="ios" />
  <platform name="android">
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/splashTemplate.png" />
  </platform>

  <plugin name="cordova-plugin-device" spec="^3.0.0" />
  <plugin name="cordova-plugin-inappbrowser" spec="~5.0.0" />
  <plugin name="cordova-plugin-dynamic-color" spec="https://github.com/ollm/cordova-plugin-dynamic-color" />
</widget>
